:root {
    --bg-primary: rgb(224, 229, 231);
    --sec-color: rgb(34, 215, 34);
    --rotation: 115deg;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(29, 27, 27);
    overflow-x: hidden;
    text-decoration: none;
}

::selection {
    background-color: rgb(125, 189, 235);
}

body {
    position: relative;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-primary);
    position: relative;
}

.images {
    width: 100%;
    height: 100%;
}

img {
    border-radius: 1px;
    opacity: 0.9;
}

#imgOne {
    width: 280px;
    height: 330px;
    position: absolute;
    left: 18%;
    top: 20%;
    border: 10px solid rgb(63, 16, 16);
    filter: drop-shadow(8px 10px 5px rgb(51, 41, 35));
    rotate: -5deg;
}

#imgTwo,
#imgThree {
    box-shadow: 8px 10px 5px rgb(51, 41, 35);
    width: 200px;
    height: 200px;
    position: absolute;
}

#imgTwo {
    top: 10%;
    right: 12%;
}

#imgThree {
    top: 47%;
    right: 18%;
}

.navbar {
    width: 100vw;
    height: 90px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 15px;
}

.links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a {
    text-decoration: none;
    font-size: 1.05rem;
    transition: transform 300ms ease-in-out;
}

.links a:hover {
    transform: translateY(-8px);
}

button {
    width: 130px;
    height: 35px;
    border-radius: 20px;
    font-size: 1.05rem;
    border: 2px solid black;
    background-color: var(--bg-primary);
    position: relative;
    cursor: pointer;
    z-index: 200;
}

.span {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--sec-color);
    width: 100%;
    height: 100%;
    transition: left 500ms ease-in;
    z-index: -1;
}

#btn:hover .span {
    left: 0;
}

.text {
    width: 470px;
    font-size: 1.5rem;
    position: absolute;
    top: 20%;
    left: 39%;
    z-index: 999;
    text-align: center;
    padding: 5px;
    overflow: hidden;
}

.paragraph {
    text-align: center;
    margin-top: 20px;
}

#starter {
    border: none;
    background-color: var(--sec-color);
    margin-top: 20px;
    box-shadow: inset 3px 3px 3px black, 4px 4px 3px black;
    transition: box-shadow 30ms linear;
}

#starter a {
    color: #fff;
}

#starter:active {
    box-shadow: none;
}

.blink {
    opacity: 0;
    font-size: 1.8rem;
}

.unBlink {
    opacity: 1;
}

strong {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(135, 125, 125);
}

.ball {
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: linear-gradient(var(--rotation), rgba(164, 236, 8, 0.82), rgb(224, 58, 12), rgb(11, 16, 148));
    position: absolute;
    top: 0.3%;
    left: 0.9%;
    z-index: 999;
    opacity: 0.4;
    box-shadow: 50px 70px 10px rgb(0, 0, 0);
}

.ball:hover {
    background: linear-gradient(20deg, rgba(2, 6, 69, 0.708), rgba(168, 209, 2, 0.736), rgba(246, 3, 3, 0.71));
    cursor: pointer;
}

.about {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about img {
    height: 70%;
    width: auto;
}

.about_text {
    max-width: 35%;
    padding: 20px;
}

.about_text h2 {
    text-align: center;
    margin-bottom: 35px;
}

.about_text p {
    line-height: 25px;
}

.gallery {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-primary);
    padding: 20px;
    text-align: center;
    position: relative;
}

.img_div {
    border: 2px solid red;
    width: 90%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}